# Exclude source files
src/

# Exclude tests
test/

# Exclude node_modules
node_modules/

# Exclude typescript config
tsconfig.json

# Exclude github specific files 
.github/

# Exclude build artifacts
*.tgz
*.log

# Execlude development files
.company_test_files/

# Exclude IDE files
.vscode/

# Exclude OS files
.DS_Store
Thumbs.db
